.input-ui,
.input-date-ui {

  .borderless {
    border: none;
    border-bottom: 1px solid #ccc;
    transition: border-color 0.3s;
    outline: none;
    background: transparent;
    border-radius: 0;
  }

  .borderless:focus {
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #ccc;
  }

  /* Animation for the border transition */
  input:not(input[type="checkbox"], input[type="date"])::after {
    content: "";
    display: block;
    width: 0;
    height: 12px;
    background-color: #555151;
    /* Initial color for the animated border */
    transition: width 0.3s;
  }

  input:not([type='checkbox']):focus::after {
    width: 100%;
    /* Fills the border with the new color */
  }

  input::placeholder {
    text-align: right;
    font-size: 0.8rem;
    color: #bdbdbd;
  }

}

label {
  font-weight: bold;
  height: 3em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgb(22, 22, 22);
}

/* Remove border from the input element when is focused */
.form-control:focus,
.form-select.select:focus {
  box-shadow: none;
  border-color: #dee2e6;
}