.navbarGreenBorder {
  border-bottom: 2px solid #84be42;
}

.navLink {
  color: white !important;
}

.active,
.navLink:hover {
  color: #84be42 !important;
}


.navLink{
  font-size: 1.3rem;
}

.navLink.navLinkLogout {
  color: rgb(151, 151, 151) !important;
}