.nav,.active {
    border-style: none !important;
}

.nav-link {
    font-size: 1.1rem !important;
    margin: 14px 0;
    padding: 0 20px;
    font-family: penSansHebrew-Regular,Arial,sans-serif;
}
.tab-menu {
    width: 60% !important;
    border-bottom: 1px solid #d2d6d8 !important;
    border-bottom-width: 1px;
    padding: 1rem 0 1rem 2rem !important;
    border-style: groove;
    margin-right: 1.1rem;
}
.nav-link {
    padding: .8rem !important;
    color : #84be42 !important;
    position: relative !important;
    display: inline-block !important;
}

/* .nav-item:first-child {
    border-left: 1px solid #d2d6d8 !important;
    padding-left: .3rem !important;

} */

.nav-item:nth-child(2):after:not(.nav-item .dropdown) {
    position: relative !important;
    display: inline-block !important;
    content: "";
    position: absolute;
    top: 6px;
    left: 100%;
    width: 1px; /* Adjust the border width as needed */
    height: 40%; /* Adjust the border height as needed */
    background-color: #d2d6d8; /* Adjust the border color as needed */
}

@media (max-width: 576px) {
    .tab-menu {
        width: 100% !important;
        margin-right: 0rem;
        margin-top: -8rem !important;
        display: flex;
        justify-content: center;
        border-bottom: none !important;
    }
    .nav-item:nth-child(2):after {
        position: relative !important;
        display: inline-block !important;
        content: "";
        position: absolute;
        top: 10px;
        left: 100%;
        width: 1px; 
        height: 30%;
        background-color: #d2d6d8; 
    }
}
