.transition-fade {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .transition-fade.active {
    opacity: 1;
  }

  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }