.col-transition {
  transition:  0.3s  ease-in-out;
  z-index: 11;
  background-color: #fff;
}

.col-transition.grow {
  transform: scaleX(1);
}
@keyframes circle-growth {
  0% {
    transform: scale(1) rotate(0deg);

  }
  100% {
    transform: scale(1.2) rotate(360deg);

  }

}

.image-animation:hover {
  animation: circle-growth 2s ease-in-out;
}


@media (max-width: 576px) {
  .parent {
    padding : 1rem  !important; 
     margin: 3rem 0 0 !important;
  }
}

