.borderless {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
    box-shadow: none;
    padding: 0;
    background-color: transparent;
  }
  
  .shrink {
    transform: translateY(-1.5rem) scale(0.75);
    
    transform-origin: top left;
    transition: transform .4s ease-in-out;
    font-weight: bold;
    color: #333;
  }
  .borderless:focus {
    box-shadow: none;
    border-color: #ced4da;
  }
  .focused {
    border-bottom: 2px solid #007bff;
  }